{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ article.getTitle() }}</h1>
            <h2 class="subheading">{{ article.getSubtitle() }}</h2>
            <span class="meta"> Posted by
              <a href="#">{{ article.getAuthor() }}</a>
              on {{ article.getCreatedAt().format('Y-m-d H:i:s') }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

    <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>{{ article.getBody() }}</p>
          <a href="#">
            <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
          </a>
          <span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>

          <p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before.</p>

          <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there’s a fundamental truth to our nature, Man must explore, and this is exploration at its greatest.</p>

          <p>Placeholder text by
            <a href="http://spaceipsum.com/">Space Ipsum</a>. Photographs by
            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <div class="container">
      <div class="row">
          <h3 class="col-lg-8 col-md-10 mx-auto">2 Comments</h3>
      </div>
      
      <!-- Comments Form -->
      <div class="col-lg-8 col-md-10 mx-auto">
          <div class="card my-4">
              <h5 class="card-header">Leave a Comment:</h5>
              <div class="card-body">
                {% form_theme commentForm 'bootstrap_4_layout.html.twig' %}
                {{ form_start(commentForm, {attr: {'novalidate': 'novalidate'}}) }}
                {{ form_row(commentForm.name) }}
                {{ form_row(commentForm.email) }}
                {{ form_row(commentForm.comment) }}
                  <button type="submit" class="btn btn-secondary">Submit</button>
                {{ form_end(commentForm) }}
              </div>
          </div>
      </div>

      <div class="row">
          <div class="media mb-4 mt-4 col-lg-8 col-md-10 mx-auto">
              <div class="media-body">
                  <h5 class="mt-0">John Doe <small>2020-03-19</small></h5>
                  <blockquote>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</blockquote>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="media mb-4 mt-4 col-lg-8 col-md-10 mx-auto">
              <div class="media-body">
                  <h5 class="mt-0">Foo Bar <small>2020-04-19</small></h5>
                  <blockquote>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</blockquote>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
